@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(169, 179, 136);
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    text-align: center;
}

.page-body {
    width: 100vw;
    background-color: rgb(95, 111, 82);
    padding: 0.5rem;
}

.page-head {
    border: 2px dashed rgb(95, 111, 82);
    background-color: rgb(225, 234, 193);
    margin-bottom: 1rem;
    width: 100%;
}

table {
    width: 100%;
    border: 2px solid rgb(169, 179, 136);
}

table thead td {
    text-align: center;
    background-color: rgb(95, 111, 82);
    font-size: 18px;
    font-weight: bold;
    color: rgb(254, 250, 224);
    border: 2px solid rgb(169, 179, 136)
}

td {
    text-align: center;
    align-items: center;
}

table tbody tr {
    background-color: rgb(254, 250, 224);
}

table tbody td {
    padding: 1rem;
}

.students {
    width: 100%;
    margin-top: 0.5rem;
}

.buttons {
    text-align: center;
    align-items: center;
}

.buttons button {
    background-color: transparent;
    border: none;
    text-align: center;
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
}

.buttons button img {
    width: 75%;
}

.btn-container button {
    background-color: rgb(254, 250, 224);
    border: none;
    cursor: pointer;
    color: rgb(95, 111, 82);
    font-size: 16px;
    font-weight: bold;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 99%;
}

.nav-container li {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

.nav-container li a {
    text-decoration: none;
    color: rgb(95, 111, 82);
    font-size: 19px;
    font-weight: bold;
}

.nav-container {
    border-bottom: 1px solid rgb(95, 111, 82);
    display: flex;
    justify-content: space-around;
}

#students-link {
    background-color: rgb(95, 111, 82);
}

#students-link a {
    color:  rgb(254, 250, 224);
}

#logout-link {
    background-color: rgb(254, 250, 224);
}

#logout-link a {
    color: rgb(95, 111, 82);
}

.pages-container {
    margin-top: 20px;
}

.pages-container ul {
    display: flex;
    justify-content: center;
}

.pages-container ul li a {
    color: rgb(254, 250, 224);
    font-weight: bold;
    font-size: 16px;
}

.pages-container ul li a:hover {
    color: rgb(185, 148, 112);
}

.pages-container ul li {
    border: 1.5px dotted rgb(254, 250, 224);
    padding: 1rem;
    text-align: center;
    list-style-type: none;
}

.page-index p {
    font-size: 16px;
    font-weight: bold;
    color: rgb(254, 250, 224);
    font-style: italic;
}





